.sidebar {
    width: 15%;
    height: 100vh;
    color: var(--white);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 88px;
    background: rgb(132, 88, 255);
    background: linear-gradient(180deg, rgba(132, 88, 255, 1) 0%, rgba(103, 10, 196, 1) 100%);
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 10px;
    padding: 15px 15px 15px 30px;
    font-size: 15px;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.menu-item.active {
    background-color: var(--text-voilet);
    color: #fff;
}

.menu-item.active .link {
    color: #fff;
    text-decoration: none;
}

.menu-item .link {
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
}

.menu-item:hover {
    background-color: var(--text-voilet);
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--white);
    transition: background-color 0.3s;
    margin-left: -20px;
}

.icon img {
    height: 25px;
    width: 25px;
}

.logout {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--text-voilet);
    cursor: pointer;
    transition: opacity 0.3s;
}

.logout:hover {
    opacity: 0.8;
}

.arrow-icon {
    margin-left: auto;
    font-size: 12px;
    color: var(--voilet2);
}

.dropdown {
    background-color: var(--hover-violet);
    margin-top: -10px;
}

.dropdown-item {
    gap: 15px;
    padding: 10px 35px;
    font-size: 12px;
    font-weight: 500;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}

.dropdown-item:hover {
    background-color: var(--voilet3);
}

/* Responsiveness */

@media (max-width:1400px) {
    .menu-item {
        font-size: 12px;
    }
}

@media (max-width:1200px) {
    .menu-item {
        font-size: 11px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar {
        width: 16%;
    }

    .menu-item {
        padding: 10px;
        font-size: 11px;
        gap: 7px;
    }

    .logout {
        font-size: 11px;
    }

    .icon {
        margin-left: -10px;
    }

    .icon img {
        height: 20px;
        width: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
        display: none;
    }
}